__pycache__/
dogbite/
rss.db
trash/
*.db
*.csv
temp.txt
new_domains.txt
city_data
incoming_web_data/
.DS_STORE
.vscode/
/examples

scraper.shiv
scraper_command_line_utility/gun/
scraper_command_line_utility/dog/
scraper_command_line_utility/roe/
scraper_command_line_utility/test/


venv
