# Python droppings
.benchmarks/
.pytest_cache/
__pycache__/
venv/
*.shiv

# OS drpppings
.DS_STORE
trash/

assets/
city_data
*.csv
*.db
dogbite/
examples
incoming_web_data/
scraper_command_line_utility/dog/
scraper_command_line_utility/gun/
scraper_command_line_utility/roe/
scraper_command_line_utility/test/

scraper_command_line_utility/scraper/logs

*.db
*.csv

temp.txt
yamlexamples.yaml

# may want to eventually include certain vscode config files, though
.vscode/
