__pycache__/
incoming_web_data/
.DS_STORE
.vscode/
/examples
/assets/
dogbite/
trash/
scraper.shiv
scraper_command_line_utility/gun/
scraper_command_line_utility/dog/
scraper_command_line_utility/roe/
scraper_command_line_utility/test/
scraper_command_line_utility/scraper/logs

*.db
*.csv
temp.txt
city_data

yamlexamples.yaml
venv
